Repository compsci-adl/myvote, pull requests merged in 2025-03, with the labels that each got.

#16 feat: Add Admin Page
  backend/src/main.py
  backend/src/models.py
  backend/src/routers/candidates.py
  backend/src/routers/elections.py
  backend/src/routers/positions.py
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/App.tsx
  frontend/src/components/AdminSection.tsx
  frontend/src/components/ChooseElection.tsx
  frontend/src/components/CloseVoting.tsx
  frontend/src/components/ClosedNominations.tsx
  frontend/src/components/ElectionSetup/ElectionInfo.tsx
  frontend/src/components/ElectionSetup/ElectionSetup.tsx
  frontend/src/components/ElectionSetup/Positions.tsx
  frontend/src/components/ElectionSetup/schemas.ts
  frontend/src/components/Header.tsx
  frontend/src/components/OpenNominations.tsx
  frontend/src/components/OpenVoting.tsx
  frontend/src/types/ElectionStatus.ts
  frontend/src/types/tab.ts
  frontend/tailwind.config.js
Labels: enhancement, frontend, backend

#19 feat: Improve candidate card DnD UX
  frontend/src/components/PositionSection.tsx
Labels: enhancement, frontend

#20 feat: Add Auth
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/App.tsx
  frontend/src/components/Footer.tsx
  frontend/src/components/Header.tsx
  frontend/src/main.tsx
  frontend/src/oidc.tsx
  frontend/src/pages/AdminPage.tsx
  frontend/src/pages/CandidatesPage.tsx
  frontend/src/pages/VotingPage.tsx
  frontend/src/pages/WelcomePage.tsx
  frontend/src/router/Layout.tsx
  frontend/src/router/router.tsx
  frontend/tailwind.config.js
Labels: enhancement

#21 feat: Fetch data
  backend/src/main.py
  backend/src/models.py
  backend/src/routers/candidates.py
  backend/src/routers/elections.py
  backend/src/routers/positions.py
  backend/src/routers/votes.py
  frontend/src/components/PositionSection.tsx
  frontend/src/data/candidates.ts
  frontend/src/data/positions.ts
  frontend/src/hooks/use-mount.ts
  frontend/src/pages/CandidatesPage.tsx
  frontend/src/pages/VotingPage.tsx
  frontend/src/stores.ts
Labels: enhancement, frontend, backend

#23 ci: Add deploy workflow
  .github/workflows/production.yml
  backend/Dockerfile
  backend/src/.env.example
  frontend/.env.example
  frontend/Dockerfile
  frontend/src/components/Header.tsx
  frontend/src/router/router.tsx
  frontend/vite.config.ts
Labels: enhancement
